@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
html{
  overflow-x: hidden;
}
#container-fluid{
  background-color: #064635;
}
.navbar{

  z-index: 2;
    transition: all 0.4s ease;
}
#navbarNavAltMarkup{
  background-color: #064635;
  text-align: center;
  font-size: 20px;
}
#navbarNavAltMarkup.navbar-nav a{
  padding: 20px;
  color:#064635
}
.navbar-nav .nav-link {
  font-family: "Open Sans", sans-serif;  }
#conflu{
  background-color: #064635;
}

#date-of-event{
  padding:3%;
  border: 1px solid white;
  width: 100%;
}
#time-of-event{
  padding:3%;
  border: 1px solid white;
  width: 100%;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  background-image: url("contact.jpg"); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  font-family: sans-serif; 
  margin: 0; 
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Main Content Styles */
main {
  padding-top: 50px;
}

section.get-in-touch {
  background-color: rgba(255,255,255,0.75);
  backdrop-filter: blur(50px);
  border-radius: 5px;
  padding: 50px;
  margin: 50px;
  box-shadow: 4px 4px 4px 4px rgba(100, 100, 100,0.5);
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 48%;
  margin-bottom: 15px;
}
.form-groupm {
  width: 100%;
  margin-bottom: 15px;
}
.form-group1 {
  width: 100%;
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}



select {
  appearance: none;

}

.captcha {
  width: 100%;
}

.captcha-container {
  display: flex;
  align-items: center;
}

.captcha img {
  width: 100px;
  margin-right: 10px;
}

.submit button {
  background-color: #111;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit button:hover {
  background-color: #000;
}
.google-map {
  padding-bottom: 40%;
  position: relative;
  height: 50%;
  
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.contact-box {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-box img {
  margin-bottom: 10px; 
}
/*FOOTER CSS HERE*/


.footer_section {
  background-color:#042c21;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.footer_section h4 {
  font-size: 28px;
}

.footer_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
}
.footer_section .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
}
.footer_section a{
  text-decoration: none;
}
.footer_section p {
  color: #dbdbdb;
}

.footer_section .footer-col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {

  display: flex;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #ffbe33;
}

.footer_section .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  color: #ffffff;
}





.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}

.footer_section .footer-info p {
  color: #ffffff;
  margin: 0;

}

.footer_section .footer-info p a {
  color: inherit;
}


.contact_link_box button{
  width:100px;
  padding:10px;
  border-radius: 10px;
  margin-bottom: 2px;
  background-color: #064635;
  border: 2px solid white;
  color:white;
}
.contact_link_box button:hover{
  background-color: white;
  color:#064635;
  transform: scale(1.05);
}
body {
  font-size: 16px; 
  
}
