@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
body{
  background-color: #ffe6b3;
  overflow-x: hidden;
}

.slider_section {
 
  display: flex;

          align-items: center;
  position: absolute;
  top:25%;
  margin-left: 5%;
  padding: 45px 0 75px 0;
}
.card img{
  width:100%;
  height:300px;
}
.navbar-links li a::before {
  content: "";
  display: block;
  top: 1.3rem;
  height: 1.2px;
  width: 0%;
  background-color: #dbe3e6;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.navbar-links li a:hover::before{
  width: 80%;
}
.card{
  box-shadow: 4px 4px 4px 4px rgb(150, 150, 150);
  background-color: #064635;
  color:#f1bb63;
}
.card img:hover{
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}
#bio{
  font-size: 30px;
  font-style: italic;
}
.slider_section .row {

          align-items: center;
}
.home_services{
  padding:1%;
  text-align: center;
}

#home_t_content{
  padding-bottom:2%;
  font-size: 20px;
}
#home_t1{
  font-size: 3.5rem;
  color: #064635;
  font-family: "Dancing Script", cursive;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}
#myButton:hover {
  transform: translateY(-10px);
  transition: transform 0.2s ease-in-out;
}
#myButton2:hover {
  transform: translateY(-10px);
  transition: transform 0.2s ease-in-out;
}

.slider_section .detail-box {
  color: #ffffff;
  margin-bottom: 145px;
  transition: 0.3s;
}
.text-button-container {
  display: flex;
  justify-content: space-between;
  padding:3%; 
  
  margin-left: 2%;
  margin-right: 5.3%;
}
body{
  overflow-x: hidden;
}
.text-button-container h2{
  font-size: 3rem;
  color:#f1bb63;
}
.text-button-container button{
  background-color:#064635;
  border: 2px solid #f1bb63;
  border-radius: 20px;
  color:#f1bb63;
  padding: 1px;
  width:200px;
  font-size: 20px;
}
.text-button-container button:hover{
  background-color: #f1bb63;
  border-color: #f1bb63;
  color:#064635;
  transform: translateY(-10px);
  transition: transform 0.2s ease-in-out;
}
.slider_section .detail-box h1 {
  font-size: 3.5rem;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  margin-bottom: 15px;
  transition: 0.3s;
}

.slider_section .detail-box p {
  font-size: 14px;
  transition: 0.3s;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}
.banner{
  background-color: #064635;
  width: 100%;
  overflow: hidden;
  padding:1%;
  /*padding-top: 4%;
  padding-bottom: 4%;*/
}
.banner-img{
  display: block;
  overflow: hidden;
}
.banner-img img {
  transition: transform 0.3s ease-in-out; /* Smooth zoom animation */
}

.banner-img:hover img {
  transform: scale(1.2); /* Zoom in by 20% on hover */
}
.slider_section .detail-box a:hover {
  background-color: #e69c00;
  transition: 0.3s;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #ffbe33;
}

#homeimg{
  width:100%;
 
  pointer-events:none;
}
.image-container{
  width:100%;
  position: relative;
  top:-70px;
}
.navbar{

  z-index: 2;
  -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.navbar-brand{
  padding-top:1%;
}
.navbar-nav .nav-link {
  font-family: "Open Sans", sans-serif;  }
 

body {
  font-size: 16px; 
}

.navbar-nav.ms-auto a{
  font-size: 16px; 
  padding: 0 15px;
}
.img-fluid {
 
  min-height: 80vh;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* or 'flex-start' for left alignment on larger screens */
  width: 100%; /* Adjust width as needed for different breakpoints */
  padding: 10px;
  color: white;
  text-align: center;
}
body {
  font-size: 16px; /* Base font size */
}

.navbar.black-background {
  background-color:#042c21;
  padding: 5px 10px; 
  color: white;
}
.catering-exp{
  width:90%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 2%;

}
#cat_exp{
  font-size: 1.05rem;
}
#cat_exp2{
  font-size: 1.05rem;
}
.exp{
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  color:#064635;
}
#veg{
  width:500px;
}
@media (max-width:1168px){
  #veg{
    width:400px;
    overflow: hidden;
  }
}
@media (max-width: 1508px) {
  .slider_section{
    top:18%;
  }
  #bioh1{
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px black;
  }
  #bio{
    font-size:1.5rem;
  }
}
.home {
  width: 100%;
  height: 100vh;
  background-image: url('home.webp');
  background-position: center top;
background-size:cover;
}

.affix {
  padding: 0;
  background-color: #111;
}
/*FOOTER CSS HERE*/


.footer_section {
  background-color:#042c21;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.footer_section h4 {
  font-size: 28px;
}

.footer_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
}
.footer_section .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
}
.footer_section a{
  text-decoration: none;
}
.footer_section p {
  color: #dbdbdb;
}

.footer_section .footer-col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {

  display: flex;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #ffbe33;
}

.footer_section .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  color: #ffffff;
}





.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}

.footer_section .footer-info p {
  color: #ffffff;
  margin: 0;

}

.footer_section .footer-info p a {
  color: inherit;
}


.contact_link_box button{
  width:100px;
  padding:10px;
  border-radius: 10px;
  margin-bottom: 2px;
  background-color: #064635;
  border: 2px solid white;
  color:white;
}
.contact_link_box button:hover{
  background-color: white;
  color:#064635;
  transform: scale(1.05);
}

#myButton2{
  background-color:#064635;
  color:#ffffff;
  font-size: 20px;
  border: 2px solid #064635;
  border-radius: 20px;

}
#test_head{
  font-family: "Dancing Script",cursive;
  font-size: 3rem;
  color:#064635;
}
#testimonials{
  padding-left: 5%;
  padding-right:5%;
  padding-bottom:7%;
  padding-top: 2%;
  background-position: center top;
background-size:cover;
}
#ct1{
  font-size: 20px;
  padding:30px;
}
#tes{
  width:75%;
  height:120%;
}
#test1{
  box-shadow:0px 0px 0px 0px black;
}
#servc1{
  animation: sliderReveal 1s ease forwards;
}
#servc2{
  animation: sliderReveal 2s ease forwards;
}
#servc3{
  animation: sliderReveal 3s ease forwards;
}

.hero .slider-btn { display: none; }

.hero {
  position: relative;
  padding-block: 120px;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
  top:-70px;
}

.hero .slider-item {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
  z-index: 1;
}

.hero .slider-item.active {
  opacity: 1;
  visibility: visible;
}

.hero .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
  filter:blur(2px);
}

.hero .slider-item.active .slider-bg {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}

.hero .section-subtitle::after { margin-block: 14px 20px; }

.hero-text { margin-block: 10px 40px; }

.hero .btn { margin-inline: auto; }

.hero-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  background-color: var(--gold-crayola);
  width: 110px;
  height: 110px;
  padding: 12px;
  transform: scale(0.6);
}

.hero-btn img {
  margin-inline: auto;
  margin-block-end: 6px;
}
.homecon{
  position: relative;
  left:50%;
  transform: translate(-50%,0);
  width:70%;
  text-align: center;
}
#homebtn{
  border-radius: 10px;
  background-color: #042c2100;
  color:white;
  border:2px solid white;
  font-size: 30px;
}
#homebtn:hover{
  background-color: white;
  color:rgb(0, 0, 0);
}
.hero-btn::after {
  inset: 0;
  border: 1px solid var(--gold-crayola);
  animation: rotate360 15s linear infinite;
}

.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.hero .slider-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero .slider-item.active .section-subtitle { animation-delay: 500ms; }

.hero .slider-item.active .hero-title { animation-delay: 1000ms; }

.hero .slider-item.active .hero-text { animation-delay: 1.5s; }

.hero .slider-item.active .btn { animation-delay: 2s; }


#abouthead{
  background-image: url('../img/about_us.webp');
  background-repeat: no-repeat;
  position: relative;
  top:-70px;
}
#abh1{
  font-family: 'Dancing Script',cursive;
  font-size: 4rem;
  margin-top: 2%;
  color:#E3C48E;
  animation-delay: 1.5s;
  animation: sliderReveal 1s ease forwards;
}
#abh2{
  font-family: 'Dancing Script',cursive;
  font-size: 3rem;
  margin-top: 2%;
  color:#E3C48E;
  animation-delay: 1.5s;
  animation: sliderReveal 2s ease forwards;
}
#abh2:after {
  content: url(../img/separator.svg);
  display: block;
  width: 100px;
  margin-inline: auto;
  margin-block-start: 5px;
  margin-top:-3%;
}
#abi1{
  font-size: 1.3rem;
  margin-top: 2%;
  color:white;
  font-style: italic;
  animation-delay: 1.5s;
  animation: sliderReveal 2s ease forwards;
}
#abtban{
  animation: sliderReveal 2s ease forwards;
}
#abh1::after {
  content: url(../img/separator.svg);
  display: block;
  width: 150px;
  margin-inline: auto;
  margin-block-start: 5px;
  margin-top:-3%;
}

#abtbody{
  overflow-x: hidden;
  background-image: url("../img/about_us.webp");
  background-size: cover;
}
.section-subtitle.label-2{
  font-size: 4rem;
  color:#E3C48E;
  font-family: "Dancing Script",cursive;
}
.section-subtitle.label-2:after{
  content: url(../img/separator.svg);
  display: block;
  width: 200px;
  margin-inline: auto;
  margin-block-start: 5px;
  margin-top:-3%;
}
.headline-1.section-title{
  font-size: 2rem;
  color:#E3C48E;
  font-family: "Dancing Script",cursive;
}
.headline-1.section-title:after{
  content: url(../img/separator.svg);
  display: block;
  width: 100px;
  margin-inline: auto;
  margin-block-start: 5px;
  margin-top:1%;
}
.title-2.card-title, .label-1.card-text{
  color:#dbdbdb;
}
#cardab{
  background-color: #4a4a4a;
  border-color: #111;
  border:4px solid black;
  padding:20px;
  animation: sliderReveal 2s ease forwards;
}

#abtcontainer{
  margin-bottom: 5%;
}