@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
#s1{
  font-family: 'Dancing Script',cursive;
  color:#dbdbdb;
  font-size: 4rem;
}
#s1:after{

}
#s2{
  color:#dbdbdb;
  font-style:italic;
  font-size: 2rem;
 
}
.col-md-4.pricing-plan{
  background-color: #dbdbdbc9;
}
.col-md-4.pricing-plan h2{
  color:#000000;
}
.head{
  text-align: center;
}
.btns{
  text-align:center;
}
body{
  background-image: url("/img/servicesbg.webp");

}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    border: 1px solid #064635;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
    color:#f1bb63;
    background-color: #064635;
  }
  
  .button.active {
    background-color: #f1bb63;
    color:#064635;
    border-color:#ffbe33;
  }
  body{
    overflow-x: hidden;
  }
  .banner{
    background-color: #064635;
    width: 100%;
    overflow: hidden;
    padding:1%;
    /*padding-top: 4%;
    padding-bottom: 4%;*/
  }
  .text-button-container {
    display: flex;
    justify-content: space-between;
    padding:3%; /* Adjust as neede */
    
    margin-left: 2%;
    margin-right: 5.3%;
  }
  .text-button-container h2{
    font-size: 3rem;
    color:#f1bb63;
  }
  .text-button-container button{
    background-color:#064635;
    border: 2px solid #f1bb63;
    border-radius: 20px;
    color:#f1bb63;
    padding: 1px;
    width:200px;
    font-size: 20px;
  }
  .text-button-container button:hover{
    background-color: #f1bb63;
    border-color: #f1bb63;
    color:#064635;
    transform: translateY(-10px);
    transition: transform 0.2s ease-in-out;
  }
  .banner-img{
    display: block;
    overflow: hidden;
  }
  .banner-img img {
    transition: transform 0.3s ease-in-out; 
  }
  
  .banner-img:hover img {
    transform: scale(1.2); 
  }
  .col-md-4.pricing-plan {
    border: 2px solid black;
    border-radius: 20px;
    width: 400px; 
    padding: 40px; 
    margin: 20px; 
    text-align: center; 
  }
  
  .pricing-container {
    width: 95%; 
    margin: 0 auto;
  }
 
  .pricing-plan h2 {
    margin-top: 0; 
  }
  .pricing-plan-transition {
    transition: all 0.5s ease-in-out; 
  }
  .col-md-4.pricing-plan.pricing-plan-transition {
    border: 2px solid black;
    width: 200px;
    padding: 40px;
    padding-bottom: 200px;
    margin: 20px;
    text-align: center;
  }
    
  
  /* Style for screens smaller than 600px */
  @media only screen and (max-width: 600px) {
    .pricing-plan {
      width: 50%;
    }
  }
  

 
.footer_section {
  background-color:#042c21;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.footer_section h4 {
  font-size: 28px;
}

.footer_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
}
.footer_section .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
}
.footer_section a{
  text-decoration: none;
}
.footer_section p {
  color: #dbdbdb;
}

.footer_section .footer-col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {

  display: flex;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #ffbe33;
}

.footer_section .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  color: #ffffff;
}





.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}

.footer_section .footer-info p {
  color: #ffffff;
  margin: 0;

}

.footer_section .footer-info p a {
  color: inherit;
}


.contact_link_box button{
  width:100px;
  padding:10px;
  border-radius: 10px;
  margin-bottom: 2px;
  background-color: #064635;
  border: 2px solid white;
  color:white;
}
.contact_link_box button:hover{
  background-color: white;
  color:#064635;
  transform: scale(1.05);
}
body{
  background-color: #fff8ea;
}
.all_plans{
  text-align: center;
  margin: auto;
  margin-left: 5%;
}