
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
.carousel-inner{
  border-radius: 2%;
}
body{
  overflow-x: hidden;
}
#carouselDemo{
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.547);
  border-radius: 2%;
}
.carousel-indicators img{
    width: 70px;
    display: block;
}
.carousel-indicators button{
    width: max-content!important;
}
.carousel-indicators{
    position: unset;
}
.carousel-item img {
  height: 500px;
  width: auto;
  margin: 0 auto;
  border-radius: 2%;
}
h1{
  font-family: 'Dancing Script',cursive;
  font-weight: bold;
  color:#f1bb63;
  margin-top:200px;
  font-size: 4rem;
}
.carousel-control-prev,
.carousel-control-next {
    cursor: pointer;
}
.carousel-inner img {
    cursor: zoom-in;
}
.container.foot{
background-color: #111;
max-width: 1920px;
margin-right: auto;
margin-left: auto;
padding-right: calc(var(--bs-gutter-x) * .5);
padding-left: calc(var(--bs-gutter-x) * .5);
box-sizing: border-box;
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
width: 100%;
}
body{
  background-color: #fff8ea;
  background-image: url('../img/gallery_bg2.webp');
  background-position: center top;
background-size:cover;
}
.banner{
  background-color: #042c21;
  width: 100%;
  overflow: hidden;
  padding:1%;
  margin-top: 4%;
  /*padding-top: 4%;
  padding-bottom: 4%;*/
}
.banner-img{
  display: block;
  overflow: hidden;
}
.banner-img img {
  transition: transform 0.3s ease-in-out; /* Smooth zoom animation */
}

.banner-img:hover img {
  transform: scale(1.2); /* Zoom in by 20% on hover */
}
.text-button-container {
  display: flex;
  justify-content: space-between;
  padding:3%; 
  
  margin-left: 2%;
  margin-right: 5.3%;
}
.text-button-container h2{
  font-size: 3rem;
  color:#f1bb63;
}
.text-button-container button{
  background-color:#042c21;
  border: 2px solid #f1bb63;
  border-radius: 20px;
  color:#f1bb63;
  padding: 1px;
  width:200px;
  font-size: 20px;
}
.text-button-container button:hover{
  background-color: #f1bb63;
  border-color: #f1bb63;
  color:#042c21;
  transform: translateY(-10px);
  transition: transform 0.2s ease-in-out;
}
.navbar{

    z-index: 2;
    -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      overflow: hidden;
  }
  .navbar-brand{
    padding-top:1%;
  }
  .navbar-nav .nav-link {
    font-family: "Open Sans", sans-serif;  }
   
  
  body {
    font-size: 16px; 
  }
  
  .navbar-nav.ms-auto a{
    font-size: 16px; 
    padding: 0 15px;
  }
  .img-fluid {
   
    min-height: 80vh;
  }

  #p_gal{
    font-size: 1.5rem;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#dddddd;
  }
  .footer_section {
    background-color:#042c21;
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
  }
  
  .footer_section h4 {
    font-size: 28px;
  }
  
  .footer_section h4 {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Dancing Script", cursive;
  }
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
  }
  .footer_section a{
    text-decoration: none;
  }
  .footer_section p {
    color: #dbdbdb;
  }
  
  .footer_section .footer-col {
    margin-bottom: 30px;
  }
  
  .footer_section .footer_contact .contact_link_box {
  
    display: flex;
            flex-direction: column;
  }
  
  .footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  
  .footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
  }
  
  .footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
  }
  
  .footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 28px;
    line-height: 1;
    color: #ffffff;
  }
  
  
  
  
  
  .footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
  }
  
  .footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
  
  }
  
  .footer_section .footer-info p a {
    color: inherit;
  }
  
  
  .contact_link_box button{
    width:100px;
    padding:10px;
    border-radius: 10px;
    margin-bottom: 2px;
    background-color: #064635;
    border: 2px solid white;
    color:white;
  }
  .contact_link_box button:hover{
    background-color: white;
    color:#064635;
    transform: scale(1.05);
  }
  